
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tree {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top:  10px;
}

.tree ul, .tree li {
     margin: 0 auto;
     position: relative;
}

.tree ul {
    list-style: none;
}

.tree li::before, .tree li::after {
    content: "";
    position: absolute;
    left: -10px;
}

.tree li::before {
    border-top: 1px solid #000;
    top: 13px;
    width: 8px;
    height: 0;
}

.tree li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 4px;
}

.tree ul > li:last-child::after {
    height: 8px;
}

.tree li {
  padding-top: 10px;
  margin: 2px 0;
}

.root  , .parent  {
  padding: 4px;
  background-color: #e76a62;
}

.root-prop {
  text-decoration: underline;
}

.leaf {
  background-color: #8bc34a;
  padding: 2px;
}

.search-bar {
  padding: 10px;
  border: none;
  width: 150px;
  font-size: 14px;
  outline: none;

}

.search-btn {
  background-color: lightblue;
  width: 60px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size:  12px;
  font-weight: bold;
}

.search-highlight {
  box-shadow: 3px 3px 15px #666;
  border: 3px solid #2196f3;
}